@charset "UTF-8";

body{
    background-image: url("/images/circle-zen-sand-background-mindfulness-concept.jpg");
    background-size: cover;
    font-family: 'Zen Loop', cursive;
}

.page-wrapper{
    background-color: rgba(255,255,255,0.8);
    border-radius: 2% 2% 2% 2% / 2% 2% 2% 2% ;
    margin: 5rem;
    padding: 1rem;
}

h2,h3{
    font-size: 2.9rem;
}

p,li,a{
    font-size: 2.5rem;
}

p:first-letter{
    font-size: 2.6rem;
    font-weight: bold;
}
